.samplep{
    height: 60vh;
    width: 45vw;
    background-color: #e7f5fb;
    margin: 5vh;
    border-radius: 20%;
}
.vector{
    height:50vh;
    object-fit: contain;
    border: 5px black solid;
}