.prep{
    display: flex;
    justify-content: space-around;
}

#scroll_tag{
    bottom: 10vh;
    left: 0px;
    width: 100vw;
    background-color: white; 
    overflow: hidden;
    padding: 1vh;
    white-space: nowrap;
}
#scroll_tag #scroll{
    display: inline-block;
    animation: 5s scroll infinite linear;
}
#scroll img{
    height: 15vh;
    color: rgb(0, 0, 0);
    margin: 0 2vw;
    text-decoration: none;
    font-size: 3vh;
    text-transform: uppercase;
}
@keyframes scroll{
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%);

    }
}
#questions{
    padding: 5vh 4vh;
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 30vw;
  
}

.question, .answer {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin: 0;
}