
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Outfit";  
   
    
}
.Hero{
    width: 100vw;
    height: 100vh;
    background-color:#e7f5fb;
    position: relative;
    
}

#Hero #image{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh;
    gap: 2vh;
    
}

#image #image_left img{
    height: 80vh;
    border-radius: 25px;

}

#image #image_right img{
    height: 40vh;
    width: 40vw;
    border-radius: 25px;
}

#image #image_right #second img{
    margin-top: 5vh;
}

#Hero #text {
    font-size: 12vh;
    color: white;  
}

#Hero #text #one{
    position: absolute;   
    top: 1vh;
    left: 25vw;
    
    
}    

#Hero #text #two{
    position: absolute;   
    top: 22vh;
    left: 45vw;
    
} 

#Hero #text #three{
    position: absolute;   
    top:40vh;
    left: 35vw;
    
} 

#Hero button{
    position: absolute;
    font-size: 5vh;
    font-family: "Outfit";
    width: 10vw;
    top: 72vh;
    right: 5vw;
    border-radius: 50px;
    color:black;
    background-color: #e7f5fb;
    opacity: 0.5;
}